body {
  font-family: "Poppins", serif;
  overflow: hidden;
  height: 100%;
  margin: 0;
}

/* Landing Page Style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

@font-face {
  font-family: Dacherry;
  src: url("assets/font/Dacherry.ttf");
}

.navbar {
  background-color: black;
  font-family: "Poppins", serif;
  font-weight: 700;
}

.button-daftar {
  width: 128px;
  height: 35px;
  border: none;
  border-radius: 3px;
  margin-top: 3px;
}

/*  Carousel */
.carousel {
  margin-top: 26px;
}

.carousel-caption {
  text-align: center;
  margin-bottom: 160px;
  font-family: "Poppins", serif;
  font-weight: 400;
}

.carousel-caption h3 {
  font-family: Dacherry;
  font-size: 70px;
}

.carousel-caption p {
  font-size: 18px;
}

/* Form Login & Register */
.bckground {
  background-image: url("assets/img/bg-form.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.button-form {
  width: 128px;
  height: 35px;
  border: none;
  border-radius: 3px;
  margin-top: 3px;
  background-color: black;
  color: white;
}

.button-form:hover {
  background-color: #585858;
}

/* Navbar, Sidebar, Dashboard */
.sidedash {
  background-color: #191c20;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

.dashboard-container .sidebar {
  grid-row: 1 / span 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #000;
  overflow-y: auto;
}

.content-container .navdash {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  z-index: 1000;
  background-color: #000000;
}

.main-content {
  grid-row: 2;
  margin-top: 45px;
  /* padding-left: 250px; */
  padding: 20px;
  height: 93vh;
  overflow-y: auto;
  background-color: #2d2e30;
}

/* Sidebar terbuka */
.content-container.expanded .navdash {
  left: 250px;
  width: calc(100% - 250px);
}

/* Sidebar tertutup */
.content-container.collapsed .navdash {
  left: 0;
  width: 100%;
}

.content-container.collapsed .main-content {
  padding-left: 0;
}

/* Transisi untuk efek geser yang halus */
.navdash,
.main-content {
  transition: left 0.3s, width 0.3s, padding-left 0.3s;
}

.menu-item:hover {
  background-color: #343a40;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.menu-item.active {
  background-color: #414141;
  color: #000000;
  border-radius: 5px;
}

.sidebar-open {
  width: 200px;
}

.sidebar-closed {
  width: 0;
}

.nav-link .ml-4 {
  margin-left: 15px;
}

.content {
  transition: all 0.3s;
}

.clear-icon {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
}
.clear-icon:hover {
  color: #585858;
}

/* konten */
.cardhome {
  margin: 10px;
  width: 15rem;
  height: 297px;
  background-color: #191c20;
}

.btn-card1 {
  font-size: 0.75rem;
  padding: 5px 28px;
  display: flex;
  align-items: center;
  background-color: #5a5b5c;
}

.btn-card2 {
  font-size: 0.75rem;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  background-color: #5a5b5c;
}

.btn-cardw {
  font-size: 0.75rem;
  padding: 5px 81px;
  background-color: #5a5b5c;
}

.dash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 84vh;
  text-align: center;
  background-color: #2d2e30;
}

.dash h1 {
  font-family: Dacherry;
  font-size: 70px;
  color: #ffffff;
}

.dash img {
  width: 300px;
  height: 300px;
}

.boxcategor {
  background-color: #5a5b5c;
  color: white;
  font-size: 18px;
  font-family: "Poppins", serif;
  font-weight: 700;
  border-radius: 8px;
  width: 210px;
  height: 65px;
  margin: 30px 30px 35px 30px;
}

.text-section {
  max-width: 40%;
}

.justify-text {
  text-align: justify;
}

.button-library {
  width: 128px;
  height: 35px;
  border: none;
  border-radius: 3px;
  background-color: #ffffff;
  color: #000000;
}

.button-library:hover {
  background-color: #5a5b5c;
  transition: background-color 0.2s;
}

.modal-chart {
  margin-left: 300px;
  margin-bottom: 150px;
}

.img-chart {
  width: 270px;
  margin-right: 600px;
}
